#pdf-canvas {
  border-radius: 30px;
  display: grid;
  width: 80%;
  height: 80%;
  margin-left: 5vw;
}

#upload-button {
  background-color: #2b2e3c;
  border-color: white;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vw;
  border-radius: 20px;
}

#file-to-upload {
  display: none;
}

.arrowLeft {
  background-color: #2b2e3c;
  color: white;
  transform: rotate(180deg);
  font-size: 2.5vw;
  border-radius: 20px;
  border-color: white;
}

.arrowRight {
  background-color: #2b2e3c;
  color: white;
  font-size: 2.5vw;
  text-decoration: none;
  border-radius: 20px;
  border-color: white;
}
