.taskParent { 
    height: 100%; 
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1vw;
    line-height: 1.5em;
}

.kanbanTitle {
text-align: center;
color: white;
font-size: 7vw;
}

#board {
    height: 87%;
    overflow: hidden;
}


.column1 {
    background: rgb(242,175,250);
    background: linear-gradient(0deg, rgba(242,175,250,1) 0%, rgba(180,151,247,1) 100%);  border-left: 100px;

}

.column2 {
    background: rgb(40,67,194);
    background: linear-gradient(191deg, rgba(40,67,194,1) 0%, rgba(62,103,219,1) 100%); 
}

#board .column {
    border-radius: 25px;
    text-align: center;
    margin-left:20px;
    width: 20vw;
    float: left;
    height: 87%;
    border: solid 1px transparent;
    border-right-color: #999;
}


#board ul.card-list {
    list-style-type: none;
    margin: 0;
    padding: 2em;
}
#board ul.card-list .card {
    float: left;
    text-align: left;
    border-radius: 8px;
    border-right: 5vw;
    border-color:#55575F;
    padding-right:50px;
    background-color: #55575F;
    color: white;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}



.taskParent {
input, button, select {

    background: rgb(30,30,41);
    background: linear-gradient(109deg, rgba(30,30,41,1) 60%, rgba(35,26,63,1) 100%);
    font-size: 1vw;
    color:white;
    border-radius: 5px;
    border: 1px solid white;
    width: 8vw;
  }
}

  #board ul.card-list .card::first-line {
    background: rgb(198, 33, 107);
    text-decoration: underline;     
    text-decoration-color: rgb(255, 255, 255);  
  }

  @media screen and (max-width: 800px) {

    #board ul.card-list .card {
        float: left;
        text-align: left;
        font-size: 2vw;
        border-radius: 8px;
        background-color: #55575F;
        padding-right:0px;
        color: white;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }

  }


  @media screen and (max-width: 450px) {

    #board ul.card-list .card {
        float: left;
        text-align: left;
        font-size: 2vw;
        border-radius: 8px;
        background-color: #55575F;
        padding-right:0px;
        color: white;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }

    #board .column {
        border-radius: 25px;
        text-align: center;
        margin-left:20px;
        width: 18vw;
        float: left;
        height: 100%;
        border: solid 1px transparent;
        border-right-color: #999;
    }




  }